<div class="dashboard-container">
  <div class="card total-value">
    <h2>{{ totalValue | currency:'EGP' }}</h2>
    <p>Total Value</p>
    <span [ngClass]="{'down': totalValueChange < 0, 'up': totalValueChange > 0}">
      {{ totalValueChange }}%
    </span>
  </div>

  <div class="card total-sales">
    <h2>{{ totalSales }} m<sup>3</sup></h2>
    <p>Total Sales</p>
    <span class="up">{{ totalSalesChange }} m<sup>3</sup></span>
  </div>

  <div class="card avg-sales">
    <h2>{{ avgSales }} m<sup>3</sup></h2>
    <p>Avg Sales</p>
    <span class="down">{{ avgSalesChange }} m<sup>3</sup></span>
  </div>

  <div class="card transaction-count">
    <h2>{{ totalTransactions }}</h2>
    <p>Total Transaction Count</p>
    <span class="up">{{ transactionsChange }}</span>
  </div>
</div>
