<div class="monitor-info">
  <div class="station-info">
    <img src="assets/images/gas-station-svgrepo-com.png" alt="Station Icon" class="icon">
    <span class="station-text">
      <strong class="station-text1">2/3</strong> Monitored Stations
    </span>
  </div>
  <div class="update-info">
    <img src="assets/images/gas-station-svgrepo-com.png" alt="Update Icon" class="icon">
     <!-- <div class="curved-arrow"></div> -->
    <span class="update-text">
      <strong class="station-text1"> 20s</strong> Last Update
    </span>
  </div>
  <div class="button">
    <app-time-button></app-time-button>
  </div>
  <div>
    <app-date-time-picker></app-date-time-picker>
  </div>
  
  
</div>
