<div class="view-properties">
  <h3>View Properties:</h3>
  <hr>

  <div class="property-list d-flex">
  <div class="d-block">
    <div class="property-item">
      <input type="checkbox" checked>
      <label>Total sales</label>
    </div>
    <div class="property-item">
      <input type="checkbox" checked>
      <label>Total transaction</label>
    </div>
    <div class="property-item">
      <input type="checkbox" checked>
      <label>Total value</label>
    </div>
  </div>
  <div class="d-block">
    <div class="property-item">
      <input type="checkbox">
      <label>Max transaction count per hour</label>
    </div>
    <div class="property-item">
      <input type="checkbox">
      <label>Max transaction count date-time</label>
    </div>
    <div class="property-item">
      <input type="checkbox">
      <label>Compressor status</label>
    </div>
  </div>
  </div>
</div>