<div class="container-fluid">
  <div class="row">
    <div
      class="col-sm-auto custom-bg flex-row flex-nowrap align-items-center col-sm min-vh-100 rounded-3 test"
    >
      <a href="/" class="d-block link-light logo">
        <img width="65%" src="assets/images/PMS.png" alt="" />
      </a>
      <a href="/" class="d-block link-light ">
        <img width="50%" src="assets/images/control-room.png" alt="" />
      </a>
      <a href="/" class="d-block link-light ">
        <img width="50%" src="assets/images/dashboard.png" alt="" />
      </a>
      <a href="/" class="d-block link-light ">
        <img width="50%" src="assets/images/elements.png" alt="" />
      </a>
      <a href="/" class="d-block link-light ">
        <img width="50%" src="assets/images/settings.png" alt="" />
      </a>
      <a href="/" class="d-block link-light notification">
        <img width="50%" src="assets/images/notifications.png" alt="" />
      </a>
      <a href="/" class="link-light logout">
        <img width="65%" src="assets/images/logout.png" alt="" />
      </a>
    </div>
  </div>
</div>
