.card {
  background-color: #fff;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 10%;
  border:none;
}

.card-header {
  display: flex;
  /* align-items: center; */
  margin-bottom: 4px;
}

.card-header img {
  width: 24px;
  height: 18px;
  margin-right: 10px;
}

.progress-bar {
  height: 10px;
  background-color: #F4DBD4;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-fill {
  background-color: #FF7F5C;
  height: 80%;
}

.value {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  align-items:right;
  justify-content: end;
  margin-left: 95px;
}
.text{
  display: flex;
  justify-content: space-between;
  color: #3D5161;
}
.title{
  margin-right: 32px;
}
